package ${package_name}.rpc.api;

import com.distributed.common.base.BaseServiceMock;
import ${package_name}.dao.mapper.${model}Mapper;
import ${package_name}.dao.model.${model};
import ${package_name}.dao.model.${model}Example;

/**
* 降低实现${model}Service接口
* @Author: 周润斌
* @Date: ${ctime}
* @Description:
*/
public class ${model}ServiceMock extends BaseServiceMock<${model}Mapper, ${model}, ${model}Example> implements ${model}Service {

}
